body{
    background-color: black;
}
p{
    font-size: 30px;
    color: white;
}
h1{
    color: white;
    font-size: 40px;
    margin-left: 550px;
}
h2{
    color: white;
    font-size: xx-large;
}

img{
    height: 200px;
}

#python{
    height: 200px;
}
#Csharp{
    height: 200px;
}